.build/
.vs2022/
user_startup_project/premake5.lua
SponzaAssets/
SunTempleAssets/
.vscode/
.vs/
.plugin_binaries/
*.exp
*.exe
*.pdb
*.idb
*.obj
*.ilk
*.sln
*.mesh_binary
*.vcxproj
*vcxproj.filters
*vcxproj.user